[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
openai = "*"
tiktoken = "*"
python-dotenv = "*"
unstructured = "*"
pinecone-client = "*"
pypdf = "*"
sentence-transformers = "*"
chromadb = "==0.4.15"
ibm-generative-ai = "*"
mteb = {extras = ["beir"] }

[dev-packages]
black="*"
ipykernel = "*"

[requires]
python_version = "3.9"
